# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 24.9.2
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
_sysroot_linux-64_curr_repodata_hack=3=haa98f57_10
absl-py=2.1.0=pypi_0
aiosignal=1.3.1=pypi_0
appdirs=1.4.4=pypi_0
astor=0.8.1=pypi_0
atari-py=0.2.9=pypi_0
attrs=23.2.0=pypi_0
backcall=0.2.0=pypi_0
binutils_impl_linux-64=2.38=h2a08ee3_1
binutils_linux-64=2.38.0=hc2dff05_0
blas=1.0=mkl
ca-certificates=2024.7.2=h06a4308_0
certifi=2022.12.7=py37h06a4308_0
cffi=1.15.1=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.0.4=pypi_0
cloudpickle=1.2.2=pypi_0
cycler=0.11.0=pypi_0
cython=3.0.10=pypi_0
dataclasses=0.6=pypi_0
decorator=5.1.1=pypi_0
dill=0.3.7=pypi_0
distlib=0.3.8=pypi_0
dm-tree=0.1.8=pypi_0
docker-pycreds=0.4.0=pypi_0
easydict=1.13=pypi_0
farama-notifications=0.0.4=pypi_0
filelock=3.12.2=pypi_0
flit-core=3.6.0=pyhd3eb1b0_0
fonttools=4.38.0=pypi_0
frozenlist=1.3.3=pypi_0
fsspec=2023.1.0=pypi_0
future=1.0.0=pypi_0
gast=0.5.4=pypi_0
gcc_impl_linux-64=11.2.0=h1234567_1
gcc_linux-64=11.2.0=h5c386dc_0
gitdb=4.0.11=pypi_0
gitpython=3.1.43=pypi_0
glfw=2.7.0=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.43.0=pypi_0
gxx_impl_linux-64=11.2.0=h1234567_1
gxx_linux-64=11.2.0=hc2dff05_0
gym=0.15.3=pypi_0
gym-notices=0.0.8=pypi_0
h5py=2.10.0=pypi_0
idna=3.6=pypi_0
imageio=2.31.2=pypi_0
importlib-metadata=6.7.0=pypi_0
importlib-resources=5.12.0=pypi_0
intel-openmp=2021.4.0=h06a4308_3561
jax-jumpy=1.0.0=pypi_0
jedi=0.19.1=pypi_0
joblib=1.3.2=pypi_0
jsonschema=4.17.3=pypi_0
keras=2.3.0=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
kernel-headers_linux-64=3.10.0=h57e8cba_10
kiwisolver=1.4.5=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.3=he6710b0_2
libgcc-devel_linux-64=11.2.0=h1234567_1
libgcc-ng=11.2.0=h1234567_1
libgfortran-ng=7.5.0=ha8ba4b0_17
libgfortran4=7.5.0=ha8ba4b0_17
libgomp=11.2.0=h1234567_1
libgpuarray=0.7.6=h7f8727e_1
libstdcxx-devel_linux-64=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
lockfile=0.12.2=pypi_0
lz4=4.3.2=pypi_0
mako=1.2.3=py37h06a4308_0
markdown=3.4.4=pypi_0
markdown-it-py=2.2.0=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib-inline=0.1.6=pypi_0
mdurl=0.1.2=pypi_0
mkl=2020.2=256
mkl-service=2.3.0=py37he8ac12f_0
mkl_fft=1.2.0=py37h23d657b_0
mkl_random=1.1.1=py37h0573a6f_0
mpi4py=3.1.6=pypi_0
msgpack=1.0.5=pypi_0
ncurses=6.4=h6a678d5_0
networkx=2.6.3=pypi_0
numpngw=0.1.3=pypi_0
numpy=1.21.6=pypi_0
numpy-devel=1.14.6=py37h4ba5984_5
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
opencv-python=4.9.0.80=pypi_0
openssl=1.1.1w=h7f8727e_0
packaging=24.0=pypi_0
pandas=1.3.5=pypi_0
parso=0.8.3=pypi_0
pexpect=4.9.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.5.0=pypi_0
pip=22.3.1=py37h06a4308_0
pkgutil-resolve-name=1.3.10=pypi_0
platformdirs=4.0.0=pypi_0
ppo=0.1.0=pypi_0
progressbar2=4.2.0=pypi_0
prompt-toolkit=3.0.43=pypi_0
protobuf=3.20.3=pypi_0
psutil=5.9.8=pypi_0
ptyprocess=0.7.0=pypi_0
pyarrow=12.0.1=pypi_0
pybullet=2.4.8=pypi_0
pycparser=2.21=pypi_0
pyglet=1.3.2=pypi_0
pygments=2.17.2=pypi_0
pygpu=0.7.6=py37heb32a55_0
pymc=2.3.8=py37h13841d7_0
pyparsing=3.1.2=pypi_0
pyrsistent=0.19.3=pypi_0
python=3.7.10=h12debd9_4
python-dateutil=2.9.0.post0=pypi_0
python-utils=3.5.2=pypi_0
pytz=2024.1=pypi_0
pywavelets=1.3.0=pypi_0
pyyaml=6.0.1=pypi_0
pyzmq=26.0.0=pypi_0
ray=1.13.0=pypi_0
readline=8.2=h5eee18b_0
requests=2.31.0=pypi_0
rich=13.7.1=pypi_0
scikit-image=0.19.3=pypi_0
scipy=1.7.3=pypi_0
screeninfo=0.6.1=pypi_0
sentry-sdk=1.45.0=pypi_0
setproctitle=1.3.3=pypi_0
setuptools=65.6.3=py37h06a4308_0
six=1.16.0=pyhd3eb1b0_1
smmap=5.0.1=pypi_0
smplx=0.1.28=pypi_0
sqlite=3.41.2=h5eee18b_0
sysroot_linux-64=2.17=h57e8cba_10
tabulate=0.9.0=pypi_0
tensorboard=1.14.0=pypi_0
tensorboardx=2.6.2.2=pypi_0
tensorflow=1.14.0=pypi_0
tensorflow-estimator=1.14.0=pypi_0
tensorflow-probability=0.7.0=pypi_0
termcolor=2.3.0=pypi_0
theano=1.0.2=py37h6bb024c_0
tifffile=2021.11.2=pypi_0
tk=8.6.12=h1ccaba5_0
torch=1.5.0=pypi_0
torch-dct=0.1.6=pypi_0
torchvision=0.6.0=pypi_0
tqdm=4.66.2=pypi_0
traitlets=5.9.0=pypi_0
trimesh=4.2.2=pypi_0
typing-extensions=4.7.1=pypi_0
typing_extensions=4.4.0=py37h06a4308_0
urllib3=2.0.7=pypi_0
virtualenv=20.25.1=pypi_0
wandb=0.16.6=pypi_0
wcwidth=0.2.13=pypi_0
werkzeug=2.2.3=pypi_0
wheel=0.38.4=py37h06a4308_0
wrapt=1.16.0=pypi_0
xz=5.4.6=h5eee18b_0
zipp=3.15.0=pypi_0
zlib=1.2.13=h5eee18b_0
zmq=0.0.0=pypi_0